h2 {
  font-size: 24px;
  color: #333;
  /* text-align: center; */
  padding: 10px 0;
}

.style-preview {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.style-preview:hover {
  opacity: 0.7;
}

.default-style {
  /* デフォルトのスタイル */
  font-weight: normal;
  font-style: normal;
}
.solid-style {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.underline-style {
  border-bottom: 1px solid black;
}
.lines-style {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* デスクトップ（1024px以上）で非表示 */
@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

/* タブレット（768px～1024px）で非表示 */
@media (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}

/* モバイル（768px以下）で非表示 */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}
